## Exploración y preprocesamiento del conjunto de datos.

En este notebook se verá la visualización y exploración de los datos. Se hará uso del conjunto reference.csv que después del preprocesamiento se llamará reference_preprocessed2.csv

Se intentó utilizar el conjunto query.csv como conjunto test, eliminando el tipo Neg.cell de la columna label, sin embargo, durante las pruebas, no conseguimos normalizar de forma adecuada el conjunto, por lo que finalmente este conjunto no se ha usado.

In [4]:
import pandas as pd

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('reference.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2761 entries, 0 to 2760
Columns: 17996 entries, Unnamed: 0 to label
dtypes: float64(17862), int64(133), object(1)
memory usage: 379.1+ MB

In [54]:
print(df['label'])

0       Neg.cell
1       Neg.cell
2       Neg.cell
3       Neg.cell
4       Neg.cell
          ...
3407       T.CD8
3408       T.CD8
3409       T.CD8
3410       T.CD8
3411       T.CD8
Name: label, Length: 3412, dtype: object

El número total de filas es 2761, mientras que tenemos un total de 17996 columnas. La primera columna "unnamed" y la última "label" serán eliminadas durante la experimentación.

In [10]:
df.drop(columns=["Unnamed: 0"]).head(20)

,A1BG,A1CF,A2M,A2ML1,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL2,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,label
0,5.54,0.00,0.00,5.33,0.0,0.0,3.76,0.00,0.0,0.0,...,0.00,0.00,7.30,29.75,16.41,8.88,82.66,10.21,24.27,B.cell
1,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,15.88,16.71,13.40,0.00,0.00,0.00,B.cell
2,81.18,0.00,0.00,1.31,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,1.52,9.21,4.32,0.00,0.00,0.00,B.cell
3,0.00,2.20,4.09,15.15,0.0,0.0,0.00,2.88,0.0,0.0,...,0.00,16.43,8.41,62.27,139.67,73.72,20.85,12.43,66.03,B.cell
4,0.00,0.31,0.00,1.85,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,5.55,21.96,2.28,0.00,109.35,0.00,B.cell
5,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,32.89,12.47,0.00,0.00,0.00,0.00,B.cell
6,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,113.51,10.70,4.10,0.00,0.00,0.00,B.cell
7,0.00,0.39,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,2.40,12.92,15.00,0.00,0.00,0.00,B.cell
8,48.37,0.00,0.00,0.00,0.0,0.0,39.35,0.00,0.0,0.0,...,0.00,0.00,0.00,0.00,3.77,0.00,0.00,0.00,0.00,B.cell
9,0.00,0.00,0.00,0.00,0.0,0.0,160.11,0.00,0.0,0.0,...,55.71,0.00,0.00,0.00,0.00,5.15,0.00,7.17,0.00,B.cell
10,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,0.74,13.68,0.00,0.00,0.00,0.00,B.cell
11,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,0.00,31.95,0.00,0.00,0.00,0.00,B.cell
12,0.00,2.21,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,0.00,3.64,5.04,0.00,0.00,0.00,B.cell
13,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,6.88,0.00,20.16,0.00,0.00,6.04,B.cell
14,0.00,0.00,0.00,0.36,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,2.95,12.02,8.68,0.00,0.81,0.00,B.cell
15,0.00,0.00,0.00,0.00,0.0,0.0,7.32,0.00,0.0,0.0,...,0.00,0.00,0.00,0.00,38.86,2.73,114.06,0.00,0.00,B.cell
16,0.00,0.00,0.00,2.90,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,19.43,24.08,28.07,0.00,45.90,0.00,B.cell
17,0.00,1.62,0.00,0.97,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,11.64,37.71,16.73,0.00,0.00,0.00,B.cell
18,0.00,2.75,0.00,1.08,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,1.19,13.59,4.16,0.00,0.00,0.00,B.cell
19,0.00,0.00,0.00,2.47,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.00,0.00,1.02,5.15,7.13,0.00,0.00,0.00,B.cell

In [67]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Cargamos datos
reference_df = pd.read_csv('reference.csv')
query_df = pd.read_csv('query.csv')

# Eliminamos la columna 'Unnamed' que corresponde al índice
reference_df = reference_df.loc[:, ~reference_df.columns.str.contains('Unnamed:0')]

# Obtenemos las etiquetas del conjunto de datos original
reference_labels = reference_df['label'].values
query_df = query_df.loc[:, ~query_df.columns.str.contains('Unnamed:0')]

query_labels = query_df['label'].values

import numpy as np

# Obtener las etiquetas únicas
unique_reference_labels = np.unique(reference_labels)
unique_query_labels = np.unique(query_labels)

# Imprimir las etiquetas únicas para referencia y consulta
print("Etiquetas únicas en el conjunto de referencia:", unique_reference_labels)
print("Etiquetas únicas en el conjunto de consulta:", unique_query_labels)

Etiquetas únicas en el conjunto de referencia: ['B.cell' 'Macrophage' 'NK' 'T.CD4' 'T.CD8']
Etiquetas únicas en el conjunto de consulta: ['B.cell' 'Macrophage' 'NK' 'Neg.cell' 'T.CD4' 'T.CD8']

In [34]:

# Verificamos si algún valor en cada columna es distinto de cero
any_nonzero = (df != 0).any()

#Verificamos si todos los valores en cada columna son cero
all_zero = (df == 0).all()

# Nombres de las columnas donde todos los valores son cero:
columns_with_all_zeros = all_zero[all_zero].index.tolist()

# Verifica si hay alguna columna donde todos los valores sean cero
if any(all_zero):
    print(f"Existen columnas con todos los valores cero: {columns_with_all_zeros}")
    for col in columns_with_all_zeros:
        print(f"\nColumna: {col}")
        print(df[col])
else:
    print("No hay columnas donde todos los valores sean cero.")

Existen columnas con todos los valores cero: ['ACTL7B', 'AMELY', 'AMTN', 'ARHGDIG', 'ATOH1', 'ATOH7', 'BARHL1', 'BHLHA9', 'BHLHE23', 'BPIFA2', 'BPIFB6', 'C1orf185', 'C2CD4B', 'C5orf46', 'CACNG4', 'CLDN17', 'CLPSL2', 'CPXCR1', 'CSHL1', 'CSN1S1', 'CXorf51A', 'CXorf51B', 'DEFB106A', 'DEFB106B', 'DEFB107A', 'DEFB107B', 'DEFB116', 'DEFB119', 'DEFB133', 'DEFB134', 'DUSP21', 'EVX2', 'F9', 'FABP1', 'FABP9', 'FAM181B', 'FAM183A', 'FGF17', 'FGF6', 'FOXA3', 'FTHL17', 'GAGE12D', 'GALR3', 'GDF7', 'GK2', 'GNG13', 'GPR27', 'GSC2', 'GSX1', 'HBM', 'HDGFL1', 'HELT', 'HES3', 'HES5', 'HFE2', 'HIST1H4G', 'IFNA10', 'IL31', 'IL9', 'INS', 'IZUMO2', 'LCE3B', 'LCE4A', 'LCN6', 'LRRC52', 'LY6G6D', 'MAFA', 'MAGEA9B', 'MAGEB4', 'MAGEB5', 'MOS', 'MPC1L', 'MTNR1B', 'NMS', 'NPS', 'NTF3', 'OR4E2', 'OR4X1', 'OR52B2', 'OR52D1', 'OR6X1', 'PAGE3', 'PCDHA8', 'PCDHB3', 'PCP4', 'PDHA2', 'PFN3', 'PHGR1', 'PLA2G2E', 'POM121L12', 'POU3F3', 'PRKACG', 'PRLH', 'PRR15L', 'PYDC2', 'RBMY1A1', 'RBMY1B', 'RIIAD1', 'RIPPLY2', 'SCGB1C1', 'SOX18', 'SP9', 'SPACA1', 'SPANXA1', 'SPANXA2', 'SPANXC', 'SPANXD', 'SPANXN1', 'SPANXN5', 'SPATA22', 'SPATS1', 'SPDYC', 'SPEM1', 'SPINK14', 'SPINK4', 'SPINK8', 'SPINT3', 'SPINT4', 'SSX4B', 'SYT8', 'TAAR9', 'TMEM114', 'TMEM190', 'TMEM88B', 'TNP1', 'TSPY2', 'TSPY3', 'UTS2R', 'VCX2', 'VCY', 'WFDC10B']

Columna: ACTL7B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: ACTL7B, Length: 2761, dtype: int64

Columna: AMELY
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: AMELY, Length: 2761, dtype: int64

Columna: AMTN
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: AMTN, Length: 2761, dtype: int64

Columna: ARHGDIG
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: ARHGDIG, Length: 2761, dtype: int64

Columna: ATOH1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: ATOH1, Length: 2761, dtype: int64

Columna: ATOH7
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: ATOH7, Length: 2761, dtype: int64

Columna: BARHL1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: BARHL1, Length: 2761, dtype: int64

Columna: BHLHA9
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: BHLHA9, Length: 2761, dtype: int64

Columna: BHLHE23
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: BHLHE23, Length: 2761, dtype: int64

Columna: BPIFA2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: BPIFA2, Length: 2761, dtype: int64

Columna: BPIFB6
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: BPIFB6, Length: 2761, dtype: int64

Columna: C1orf185
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: C1orf185, Length: 2761, dtype: int64

Columna: C2CD4B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: C2CD4B, Length: 2761, dtype: int64

Columna: C5orf46
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: C5orf46, Length: 2761, dtype: int64

Columna: CACNG4
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CACNG4, Length: 2761, dtype: int64

Columna: CLDN17
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CLDN17, Length: 2761, dtype: int64

Columna: CLPSL2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CLPSL2, Length: 2761, dtype: int64

Columna: CPXCR1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CPXCR1, Length: 2761, dtype: int64

Columna: CSHL1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CSHL1, Length: 2761, dtype: int64

Columna: CSN1S1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CSN1S1, Length: 2761, dtype: int64

Columna: CXorf51A
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CXorf51A, Length: 2761, dtype: int64

Columna: CXorf51B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: CXorf51B, Length: 2761, dtype: int64

Columna: DEFB106A
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB106A, Length: 2761, dtype: int64

Columna: DEFB106B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB106B, Length: 2761, dtype: int64

Columna: DEFB107A
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB107A, Length: 2761, dtype: int64

Columna: DEFB107B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB107B, Length: 2761, dtype: int64

Columna: DEFB116
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB116, Length: 2761, dtype: int64

Columna: DEFB119
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB119, Length: 2761, dtype: int64

Columna: DEFB133
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB133, Length: 2761, dtype: int64

Columna: DEFB134
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DEFB134, Length: 2761, dtype: int64

Columna: DUSP21
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: DUSP21, Length: 2761, dtype: int64

Columna: EVX2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: EVX2, Length: 2761, dtype: int64

Columna: F9
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: F9, Length: 2761, dtype: int64

Columna: FABP1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FABP1, Length: 2761, dtype: int64

Columna: FABP9
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FABP9, Length: 2761, dtype: int64

Columna: FAM181B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FAM181B, Length: 2761, dtype: int64

Columna: FAM183A
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FAM183A, Length: 2761, dtype: int64

Columna: FGF17
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FGF17, Length: 2761, dtype: int64

Columna: FGF6
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FGF6, Length: 2761, dtype: int64

Columna: FOXA3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FOXA3, Length: 2761, dtype: int64

Columna: FTHL17
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: FTHL17, Length: 2761, dtype: int64

Columna: GAGE12D
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GAGE12D, Length: 2761, dtype: int64

Columna: GALR3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GALR3, Length: 2761, dtype: int64

Columna: GDF7
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GDF7, Length: 2761, dtype: int64

Columna: GK2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GK2, Length: 2761, dtype: int64

Columna: GNG13
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GNG13, Length: 2761, dtype: int64

Columna: GPR27
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GPR27, Length: 2761, dtype: int64

Columna: GSC2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GSC2, Length: 2761, dtype: int64

Columna: GSX1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: GSX1, Length: 2761, dtype: int64

Columna: HBM
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: HBM, Length: 2761, dtype: int64

Columna: HDGFL1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: HDGFL1, Length: 2761, dtype: int64

Columna: HELT
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: HELT, Length: 2761, dtype: int64

Columna: HES3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: HES3, Length: 2761, dtype: int64

Columna: HES5
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: HES5, Length: 2761, dtype: int64

Columna: HFE2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: HFE2, Length: 2761, dtype: int64

Columna: HIST1H4G
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: HIST1H4G, Length: 2761, dtype: int64

Columna: IFNA10
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: IFNA10, Length: 2761, dtype: int64

Columna: IL31
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: IL31, Length: 2761, dtype: int64

Columna: IL9
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: IL9, Length: 2761, dtype: int64

Columna: INS
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: INS, Length: 2761, dtype: int64

Columna: IZUMO2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: IZUMO2, Length: 2761, dtype: int64

Columna: LCE3B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: LCE3B, Length: 2761, dtype: int64

Columna: LCE4A
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: LCE4A, Length: 2761, dtype: int64

Columna: LCN6
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: LCN6, Length: 2761, dtype: int64

Columna: LRRC52
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: LRRC52, Length: 2761, dtype: int64

Columna: LY6G6D
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: LY6G6D, Length: 2761, dtype: int64

Columna: MAFA
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: MAFA, Length: 2761, dtype: int64

Columna: MAGEA9B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: MAGEA9B, Length: 2761, dtype: int64

Columna: MAGEB4
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: MAGEB4, Length: 2761, dtype: int64

Columna: MAGEB5
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: MAGEB5, Length: 2761, dtype: int64

Columna: MOS
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: MOS, Length: 2761, dtype: int64

Columna: MPC1L
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: MPC1L, Length: 2761, dtype: int64

Columna: MTNR1B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: MTNR1B, Length: 2761, dtype: int64

Columna: NMS
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: NMS, Length: 2761, dtype: int64

Columna: NPS
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: NPS, Length: 2761, dtype: int64

Columna: NTF3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: NTF3, Length: 2761, dtype: int64

Columna: OR4E2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: OR4E2, Length: 2761, dtype: int64

Columna: OR4X1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: OR4X1, Length: 2761, dtype: int64

Columna: OR52B2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: OR52B2, Length: 2761, dtype: int64

Columna: OR52D1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: OR52D1, Length: 2761, dtype: int64

Columna: OR6X1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: OR6X1, Length: 2761, dtype: int64

Columna: PAGE3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PAGE3, Length: 2761, dtype: int64

Columna: PCDHA8
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PCDHA8, Length: 2761, dtype: int64

Columna: PCDHB3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PCDHB3, Length: 2761, dtype: int64

Columna: PCP4
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PCP4, Length: 2761, dtype: int64

Columna: PDHA2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PDHA2, Length: 2761, dtype: int64

Columna: PFN3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PFN3, Length: 2761, dtype: int64

Columna: PHGR1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PHGR1, Length: 2761, dtype: int64

Columna: PLA2G2E
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PLA2G2E, Length: 2761, dtype: int64

Columna: POM121L12
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: POM121L12, Length: 2761, dtype: int64

Columna: POU3F3
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: POU3F3, Length: 2761, dtype: int64

Columna: PRKACG
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PRKACG, Length: 2761, dtype: int64

Columna: PRLH
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PRLH, Length: 2761, dtype: int64

Columna: PRR15L
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PRR15L, Length: 2761, dtype: int64

Columna: PYDC2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: PYDC2, Length: 2761, dtype: int64

Columna: RBMY1A1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: RBMY1A1, Length: 2761, dtype: int64

Columna: RBMY1B
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: RBMY1B, Length: 2761, dtype: int64

Columna: RIIAD1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: RIIAD1, Length: 2761, dtype: int64

Columna: RIPPLY2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: RIPPLY2, Length: 2761, dtype: int64

Columna: SCGB1C1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SCGB1C1, Length: 2761, dtype: int64

Columna: SOX18
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SOX18, Length: 2761, dtype: int64

Columna: SP9
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SP9, Length: 2761, dtype: int64

Columna: SPACA1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPACA1, Length: 2761, dtype: int64

Columna: SPANXA1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPANXA1, Length: 2761, dtype: int64

Columna: SPANXA2
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPANXA2, Length: 2761, dtype: int64

Columna: SPANXC
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPANXC, Length: 2761, dtype: int64

Columna: SPANXD
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPANXD, Length: 2761, dtype: int64

Columna: SPANXN1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPANXN1, Length: 2761, dtype: int64

Columna: SPANXN5
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPANXN5, Length: 2761, dtype: int64

Columna: SPATA22
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPATA22, Length: 2761, dtype: int64

Columna: SPATS1
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0
Name: SPATS1, Length: 2761, dtype: int64

Columna: SPDYC
0       0
1       0
2       0
3       0
4       0
       ..
2756    0
2757    0
2758    0
2759    0
2760    0

In [15]:


# Identificamos las columnas que tienen todos los valores iguales a 0
all_zero_columns = (df == 0).all()

# Lista de columnas a eliminar: unnamed y columnas con todos los valores 0
columns_to_drop = ['Unnamed: 0'] + all_zero_columns[all_zero_columns].index.tolist()

# Creamos un nuevo DF con las columnas que no están en columns_to_drop
df_filtered = df.drop(columns=columns_to_drop)

# Guardamos el nuevo DataFrame en un archivo CSV
df_filtered.to_csv('reference_preprocessed2.csv', index=False)

# Mensaje de confirmación:
print(f"Nuevo conjunto de datos guardado en 'reference_preprocessed2.csv'. Columnas eliminadas: {columns_to_drop}")

Nuevo conjunto de datos guardado en 'reference_preprocessed.csv'. Columnas eliminadas: ['Unnamed: 0', 'ACTL7B', 'AMELY', 'AMTN', 'ARHGDIG', 'ATOH1', 'ATOH7', 'BARHL1', 'BHLHA9', 'BHLHE23', 'BPIFA2', 'BPIFB6', 'C1orf185', 'C2CD4B', 'C5orf46', 'CACNG4', 'CLDN17', 'CLPSL2', 'CPXCR1', 'CSHL1', 'CSN1S1', 'CXorf51A', 'CXorf51B', 'DEFB106A', 'DEFB106B', 'DEFB107A', 'DEFB107B', 'DEFB116', 'DEFB119', 'DEFB133', 'DEFB134', 'DUSP21', 'EVX2', 'F9', 'FABP1', 'FABP9', 'FAM181B', 'FAM183A', 'FGF17', 'FGF6', 'FOXA3', 'FTHL17', 'GAGE12D', 'GALR3', 'GDF7', 'GK2', 'GNG13', 'GPR27', 'GSC2', 'GSX1', 'HBM', 'HDGFL1', 'HELT', 'HES3', 'HES5', 'HFE2', 'HIST1H4G', 'IFNA10', 'IL31', 'IL9', 'INS', 'IZUMO2', 'LCE3B', 'LCE4A', 'LCN6', 'LRRC52', 'LY6G6D', 'MAFA', 'MAGEA9B', 'MAGEB4', 'MAGEB5', 'MOS', 'MPC1L', 'MTNR1B', 'NMS', 'NPS', 'NTF3', 'OR4E2', 'OR4X1', 'OR52B2', 'OR52D1', 'OR6X1', 'PAGE3', 'PCDHA8', 'PCDHB3', 'PCP4', 'PDHA2', 'PFN3', 'PHGR1', 'PLA2G2E', 'POM121L12', 'POU3F3', 'PRKACG', 'PRLH', 'PRR15L', 'PYDC2', 'RBMY1A1', 'RBMY1B', 'RIIAD1', 'RIPPLY2', 'SCGB1C1', 'SOX18', 'SP9', 'SPACA1', 'SPANXA1', 'SPANXA2', 'SPANXC', 'SPANXD', 'SPANXN1', 'SPANXN5', 'SPATA22', 'SPATS1', 'SPDYC', 'SPEM1', 'SPINK14', 'SPINK4', 'SPINK8', 'SPINT3', 'SPINT4', 'SSX4B', 'SYT8', 'TAAR9', 'TMEM114', 'TMEM190', 'TMEM88B', 'TNP1', 'TSPY2', 'TSPY3', 'UTS2R', 'VCX2', 'VCY', 'WFDC10B']

In [17]:
df_filtered.head()

,A1BG,A1CF,A2M,A2ML1,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL2,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,label
0,5.54,0.00,0.00,5.33,0.0,0.0,3.76,0.00,0.0,0.0,...,0.0,0.00,7.30,29.75,16.41,8.88,82.66,10.21,24.27,B.cell
1,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.0,0.00,0.00,15.88,16.71,13.40,0.00,0.00,0.00,B.cell
2,81.18,0.00,0.00,1.31,0.0,0.0,0.00,0.00,0.0,0.0,...,0.0,0.00,0.00,1.52,9.21,4.32,0.00,0.00,0.00,B.cell
3,0.00,2.20,4.09,15.15,0.0,0.0,0.00,2.88,0.0,0.0,...,0.0,16.43,8.41,62.27,139.67,73.72,20.85,12.43,66.03,B.cell
4,0.00,0.31,0.00,1.85,0.0,0.0,0.00,0.00,0.0,0.0,...,0.0,0.00,0.00,5.55,21.96,2.28,0.00,109.35,0.00,B.cell

In [75]:
df2 = pd.read_csv('reference_preprocessed2.csv')
# Valores únicos en la columna 'label'
label_counts = df2['label'].value_counts()

# Mostramos los resultados
print("Conteo de valores en la columna 'label':")
print(label_counts)

Conteo de valores en la columna 'label':
label
T.CD8         1231
T.CD4          599
B.cell         573
Macrophage     294
NK              64
Name: count, dtype: int64

### Exploración y preprocesamiento de query.csv, del que finalmente no se hizo ningún uso.

In [19]:
df_query = pd.read_csv('query.csv')

In [21]:
df_query.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Columns: 17996 entries, Unnamed: 0 to label
dtypes: float64(17939), int64(56), object(1)
memory usage: 468.5+ MB

In [69]:
import pandas as pd

# Cargamos el archivo CSV
df_query = pd.read_csv('query.csv')

# Eliminamos las filas donde la columna 'label' sea 'Neg.cell'
df_query = df_query[df_query['label'] != 'Neg.cell']


# DataFrame resultante:
df_query.to_csv('query_filtered.csv', index=False)

In [70]:
df_query_filtered = pd.read_csv('query_filtered.csv')

In [71]:
df_query_filtered.head()

,Unnamed: 0,A1BG,A1CF,A2M,A2ML1,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,label
0,2229,0.0,0.00,357.46,0.00,0.0,0.0,0.00,36.06,0.0,...,81.51,0.0,20.98,9.78,32.15,0.00,210.38,0.00,0.00,Macrophage
1,2230,0.0,1.51,1352.50,0.00,0.0,0.0,0.00,0.00,0.0,...,0.00,0.0,0.00,37.73,27.20,15.61,16.25,18.91,0.00,Macrophage
2,2231,0.0,1.98,10.20,0.00,0.0,0.0,126.17,14.39,0.0,...,0.00,0.0,0.00,4.15,19.15,3.49,5.24,8.24,145.65,T.CD4
3,2232,0.0,1.14,0.00,2.42,0.0,0.0,0.00,0.00,0.0,...,0.00,0.0,0.00,2.79,13.81,13.75,0.00,15.76,0.00,T.CD8
4,2233,0.0,3.28,0.00,0.00,0.0,0.0,0.00,272.41,0.0,...,0.00,0.0,0.00,5.54,0.00,0.00,0.00,0.00,0.00,T.CD8